/**********************************************************************
                     header of the website  
 ********************************************************************/

 .header {
    width: 100%;
    background: $color-white;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    @include mainShadow;

      &__logo {
          cursor: pointer;

          &__img {
            width: 13rem;
          }
      }
      
        &__nav {
                &__list {
                    display: flex;
                    justify-content: space-between;
                    transform: translateY(1.5rem);

                    &__item {
                        width: 15rem;
                        list-style-type: none;
                        text-align: center;

                        &__link {
                          font-size: 2.2rem;
                          text-transform: capitalize;
                          text-decoration: none;
                          color: $color-black-light-1;
                          font-weight: bolder;

                            .active-nav {
                              border-bottom: .1rem solid;
                            }
                
                        }
                    }
                }
        }

        &__icon {
          display: flex;
          justify-content: space-between;
          transform: translateY(1.5rem);

            i {
                display: block;
                width: 7rem;
                text-align: center;
                font-size: 2.5rem;
                padding: .4rem;
                color:$color-black-light-1;
            }

            &__link {
              text-decoration: none;
            }
        }

}

  
  /* header item all  */
// .menu-burger{
//  display: none;
// }
// .menu-logo{
//   display: none;
// }


// @media only screen and (max-width: 960px) {

//    .btn-burger{
//      cursor: pointer;
//      width: 6rem;
//      height: 4rem;
//      padding: 1rem;
//      margin: 0 5rem;
//      position: relative;
//      z-index: 3;
//    }
//   .menu-burger{
//     display: block;
//     width: 4rem;
//     height: .4rem;
//     background: #eb4a34;
//     border-radius: .2rem;
//     position:absolute;
//     top:1.6rem;
//   }
//   .menu-burger::after,
//   .menu-burger::before{
//     content: "";
//     position: absolute;
//     width: 4rem;
//     height: .4rem;
//     background: #e84a34;
//     border-radius: .2rem;
//     transition: all .5s ease-in-out;
    
//   }
//   .menu-burger::after{
//     transform: translateY(-1rem);
//   }
//   .menu-burger::before{
//     transform: translateY(1rem);
//   }
 
//   .open .menu-burger {
//     background: transparent;
//   }

//   .open .menu-burger::after{
//       transform: rotate(45deg);
//   }
//   .open .menu-burger::before{
//       transform: rotate(-45deg);
//   }

//   header{
//     position: relative;
//   }
//   header .logo img{
//     width: 20rem;
//     margin: 4rem;
//   }
//   header .nav {
//    display: none;
//    position: fixed;
//   }
//   header .icon {
//     display: none;
//     position: absolute;
//     left: 2.5rem;
//     top:40rem;
//     z-index: 4;
//   }
//   header .icon i{
//     display: inline-block;
//   }
 
//   .fixed-position{
//     position: fixed !important;
//   }
//   header .nav {
//     display: none;
//     position: fixed;
//     top: -.3rem;
//     left: 0;
//     width: 100vw !important;
//     height: 100vh;
//     /* This give the height 100% of the screen or, '100% of View Height' */
//     background-image:linear-gradient(90deg,hsl(0, 0%, 100%)50% ,rgba(0, 0, 0, 0.349) 50%) ;
//     border: 1px solid #004D40;
//     border-left: none;
//     border-bottom: none;
//     z-index: 2;
//     /* This set the layer level of the element, it has precendence over initial level of 1 */
//   }
//   header .nav ul{
//     flex-direction: column;
//     position: absolute;
//     top: 18rem;
//   }
//   header .nav ul li {
//     margin-bottom: 2rem;
    
//   }

//   .menu-logo {
//     display: none;
//     position: fixed;
//     z-index: 3;
//   }

//   .open-menu{
//     display: block !important;
//   }
// }

// @media only screen and (max-width: 500px){
//   .container {
//     width: 100vw !important;
//     margin: 0 !important;
//   }
//   header .logo img{
//     width: 15rem;
//     margin: 2rem;
//   }
//   .btn-burger{
//     margin: 0 1rem;
//   }
//   header .icon{
//     margin-left: 2rem;
//   }
//   header .icon i{
//     font-size: 2rem;
//     margin-left: 0rem;
//   }
// }


