  /* color change */

  #color h2{color: #fff;}

.orange{color:#e84a34 !important;}

.blue {color: #0d7e99 !important;}

.design-h,.bold{color: rgba(0, 0, 0, 0.835) !important;}
  
  /* img left  */
  .img-left{transform: translateX(-10rem);}

  .bg-transparent{background: transparent !important;}

  /* bold */
  .bold{font-weight: bolder; margin: 3rem 0;}

  .color-1 { color: $color-white !important;}

//sax
.u-center-text { text-align: center !important;}
.u-end-text { text-align: end !important;}

.width-3 { width: 95%  !important;}
//Font 
.font-size {font-size: 4rem !important;}
.font-size-huge {font-size: 14rem !important;}
.line-heigth {line-height: 1.5 !important;}
// Margin 
.u-margin-huge {margin: 7rem 0 !important;}
.u-margin-botton-huge{margin-bottom: 10rem !important;}
.u-margin-botton-md {margin-bottom: 3rem !important;}
.u-margin-botton-md-1 {margin-bottom: 1.4rem !important;}

.u-margin-top {margin-top: -2rem !important;}
.u-margin-top-md {margin-top: 1rem !important;}
.u-margin-top-md-3x {margin-top: 3rem !important;}



.absCenter {
  @include absCenter;
}


.centered {top :-50%;left: 25%;}