
$primary-color:#e84a34;
$secondary-color:#0d7e99;
$secondary-color-dark:#014150;
$color-six:#fff;
$color-six-dark:#999;
$color-seven:#000;
$color-seven-light:rgba(0, 0, 0, 0.8);
$color-eight: #434343;

//FONT 
$font-default: 1.6rem;
// GRID
$grid-width:114rem;
$gutter-horizantal:6rem;
$gutter-verital:8rem;