
$color-primary:#e84a34;
$color-primary-dark:#f8472fab;
$color-primary-light:#ff6955;
$secondary-color:#0d7e99;
$secondary-color-dark:#014150;
$color-gray: #777;
$color-white:#fff;
$color-white-dark:#999;
$color-black:#000;
$color-black-light:rgba(0, 0, 0, 0.8);
$color-black-light-1: #434343;

//FONT 
$default-font: 1.6rem;
// GRID
$grid-width:114rem;
$gutter-horizantal:6rem;
$gutter-verital:8rem;