// urar home page-ka 
.service {
        position: relative;
        height: 18rem;
        padding:3rem 3rem 2rem 3rem;
        color: $color-white;

        @include shadowBorder;

        &--1{
            background-color: $color-primary;
        }

        &--2{
            background-color: $secondary-color;
        }

        &__arrow {
            position: absolute;
            bottom: 4rem;
            font-size: 3rem ;
           
        }
    }
