/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background:#eee7e7 ;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

                               /* code start here  */


/**********************************************************************
                 general style of the website basics 
 ********************************************************************/

 /* root font  */

  html{
    font-size: 62.5%;
  }

  /* body  */
*{
  box-sizing: border-box;
}
  body{
    font-family: 'Roboto', sans-serif;
  }

/* container  box  */


 
  /* h1 style  */
  h1 {
    font-size: 3.5rem;
    margin: 4rem;
    color: #434343;
    font-weight: bolder;
    margin: 7rem 0;
    position: relative;
  }
  .center{
    text-align: center;
  }

 
  h2 {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bolder;
  }
  

  h3 {
    font-size: 2.5rem;
    color: #434343;
    text-align: center;
    letter-spacing: .3rem;
    margin: 4rem 0;
  }

  p{
    font-size: 1.9rem !important;
    color: #434343;
  }


  /* color change */
  #color p,a{
    color: #fff;
  }
  #color h2{
    color: #fff;
  }

  .orange{
    color:#e84a34 !important;
}

.blue {
    color: #0d7e99 !important;
}

.design-h,.bold{
  color: rgba(0, 0, 0, 0.835) !important;
}
  
  /* img left  */
  .img-left{
    /* float: right !important; */
    transform: translateX(-10rem);
  }

  .bg-transparent{
    background: transparent !important;
  }

  /* bold */
  .bold{
    font-weight: bolder;
    margin: 3rem 0;
}


/* big titles underline  */

.title2::after {
  content: "";
  border-bottom: .3rem solid #e84a34;
  width: 5rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  text-align: center;
 transform: translateX(-17.5rem) translateY(3rem);
}

.title5::after {
  content: "";
  border-bottom: .3rem solid #e84a34;
  width: 5rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  text-align: center;
  transform: translateX(-11rem) translateY(3rem);
}

.title1::after {
  content: "";
  border-bottom: .3rem solid #e84a34;
  width: 5rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  text-align: center;
 transform: translateX(-24.5rem) translateY(3rem);
}
.title3 {
  margin-top: 4rem;    
  margin-bottom: 10rem !important;
  transform: translateY(4rem);
  font-size: 2.5rem !important;
}
.title3::after {
  content: "";
  border-bottom: .3rem solid #e84a34;
  width: 5rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  text-align: center;
 transform: translateX(-9rem) translateY(2rem);
}

